.icon-button {
  color: var(--white-base-color);
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 0 none;
  border-radius: 12px;
  cursor: pointer;

  &.is-dark {
    background-color: var(--dark-base-color);
  }
}