body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.1875em;
  font-weight: 400;
  color: var(--g-text-color);
  height: 100%;
  background-color: var(--g-background-color);
}
