/* Palette */
:root {
  --accent-base-color: #F6C90E;
  --primary-base-color: #076ED5;
  --dark-base-color: #111418;
  --white-base-color: #FFFFFF;
  --white-dark-color: #C7C7C7;
  --grey-base-color: #1E2429;
}

:root {
  --g-text-color: rgba(255,255,255, 0.7);
  --g-background-color: var(--dark-base-color);
}

:root {
  --layout-padding-x: 72px;
}