@import "../../fonts/fonts.css";

h1, .u-h1 {
  font-size: 4.5rem;
  line-height: 4.95rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: var(--white-base-color);
}

h2 {
  font-size: 2.375rem;
  line-height: 2.6125rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: var(--white-base-color);
}

h3 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: var(--white-base-color);
}